.Enquire_popup {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.726),
    rgba(0, 0, 0, 0.726)
  );
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enquire_popup_container {
  width: 50%;
  height: 100vh;
  background-color: white;
  border-radius: 20px;
  padding: 1vw 3vw;
}

.popup_heading{
    font-size: 2rem;
}
.popup_options h5{
    font-size: 1.2rem;

}
.options{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 1rem;
}

.option_item {
    border-radius: 10px;
    border: 1px solid gray;
    width: fit-content;
    padding: 0.5vw 1vw;
    cursor: pointer;
}


.active{
    background-color: var(--clr--primary-orange);
    border: none;
    color: white;
    transition: .5s;
}

.popup_information {
    margin-top:1vw;
}

.popup_information h5{
    font-size: 1.2rem;
}

.popup_information label{
    font-size: 1rem;
    font-weight: 100;
}

.popup_information input ,.popup_information textarea{
    width: 70%;
    padding: 0.5vw ;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
}

.popup_information input::placeholder , .popup_information textarea::placeholder{
    color: rgb(204, 204, 204);
    font-size: 0.8rem;
    font-weight: 100;
}

.popup_information input:focus, .popup_information textarea:focus{
    outline: none;
}

.popup_information button{
    background-color: var(--clr--primary-orange);
    border: none;
    padding: 0.5vw 1vw;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.Enquiry_btn{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap:2rem;
}