.gallery {
  display: flex;
  transition: background-color 0.5s ease; /* Add this line for smooth color transition */
}

.left {
  width: 50%;
  height: 100%;
}

.desktopContent {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.desktopContentSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktopContentSection > * {
  background-color: rgba(255, 255, 255, 0.541);

  width: 29.5vw;
  height: 29.5vw;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktopContentSection1 h1 {
  font-size: 2.302rem;
  font-weight: 900;
  padding-right: 0.6rem;
  letter-spacing: 0.4px;
  color: #e0b3c2;
  text-align: center;
}
.desktopContentSection2 h1 {
  font-size: 2.302rem;
  font-weight: 900;
  padding-right: 0.6rem;
  letter-spacing: 0.4px;
  color: #b3d3f2;
  text-align: center;
}

.desktopContentSection3 h1 {
  font-size: 2.302rem;
  font-weight: 900;
  padding-right: 0.6rem;
  letter-spacing: 0.4px;
  color: #e3c4a6;
  text-align: center;
}
.desktopContentSection4 h1 {
  font-size: 2.302rem;
  font-weight: 900;
  padding-right: 0.6rem;
  letter-spacing: 0.4px;
  color: #b3b7d6;
  text-align: center;
}

.right {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: sticky;
  top: 0;
}

.desktopPhotos {
  align-self: baseline;
  width: 29.5vw;
  height: 29.5vw;
  border-radius: 3rem;

  margin-left: 3rem;

  position: relative;
  overflow: hidden;
}

.desktopPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.desktopPhoto > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service1 {
  background-color: #fae1ee;
}
.service1 h1 {
  text-align: center;
  padding: 8%;
}

.service2 {
  background-color: #e0f0ff;
}
.service2 h1 {
  text-align: center;
  padding: 8%;
}
.service3 {
  background-color: #ffede0;
}
.service3 h1 {
  text-align: center;
  padding: 8%;
}
.service4 {
  background-color: #d3d6f0;
}
.service4 h1 {
  text-align: center;
  padding: 8%;
}
