.serviceheading{
  font-size: 3rem;
  text-align: center;
  padding: 1vw;
  background-color: #9B59B6;
  color: white;
}

.gallery {
  display: flex;
  transition: background-color 0.5s ease; 
  padding-bottom: 4vw;
}

.left {
  width: 50%;
  height: 100%;
}

.desktopContent {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.desktopContentSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktopContentSection > * {
  background-color: rgba(255, 255, 255, 0.945);

  width: 29.5vw;
  height: 29.5vw;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktopContentSection1 h1 {
  font-size: 3.5vw;
  font-weight: 900;
  padding-right: 0.6rem;
  letter-spacing: 0.4px;
  color: #9B59B6;
  text-align: center;
}
.desktopContentSection2 h1 {
  font-size: 3.5vw;
  font-weight: 900;
  padding-right: 0.6rem;
  letter-spacing: 0.4px;
  color: #FF2D55;
  text-align: center;
}

.desktopContentSection3 h1 {
  font-size: 3.5vw;
  font-weight: 900;
  padding-right: 0.6rem;
  letter-spacing: 0.4px;
  color: #FF851B;
  text-align: center;
}
.desktopContentSection4 h1 {
  font-size: 3.5vw;
  font-weight: 900;
  padding-right: 0.6rem;
  letter-spacing: 0.4px;
  color: #F7CA18;
  text-align: center;
}

.right {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
}

.desktopPhotos {
  align-self: baseline;
  width: 29.5vw;
  height: 29.5vw;
  border-radius: 3rem;
  margin-left: 3rem;
  position: relative;
  overflow: hidden;
}

.desktopPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.desktopPhoto > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service1 {
  background-color: #9B59B6;
  color: white;
}
.service1 h1 {
  text-align: center;
  font-size: 2.75vw;
  padding: 8%;
}

.service2 {
  background-color: #FF2D55;
  color: white;
}
.service2 h1 {
  text-align: center;
  font-size: 2.75vw;

  padding: 8%;
}
.service3 {
  background-color: #FF851B;
   color: white;
}
.service3 h1 {
  text-align: center;
  font-size: 2.75vw;

  padding: 8%;
}
.service4 {
  background-color: #F7CA18;
  color: white;
}
.service4 h1 {
  text-align: center;
  font-size: 2.75vw;

  padding: 8%;
}

/* For mobile screens */

@media (max-width: 768px) {
  .gallery {
    justify-content: center;
  }
  .right {
    display: none;
  }

.desktopContent {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .desktopContentSection {
    min-height: 100vh;
  }
  .desktopContentSection > * {
    width: 80vw;
    height: 80vw;
  }

  .desktopContentSection1 h1 {
    font-size: 7vw;
   
  }
  .desktopContentSection2 h1 {
    font-size: 7vw;
 
  }

  .desktopContentSection3 h1 {
    font-size: 7vw;

  }
  .desktopContentSection4 h1 {
    font-size: 7vw;
   
  }
}



@media (max-width: 580px) {
  .serviceheading{
    font-size: 6vw;
    margin-top: 5vw;
  }
  .gallery {
    justify-content: center;
    gap: 1rem;
  }
  .right {
    display: none;
  }

.desktopContent {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
  .desktopContentSection {
    min-height: 80vh;
  }
  .desktopContentSection > * {
    width: 80vw;
    height: 80vw;
  }

  .desktopContentSection1 h1 {
    font-size: 8vw;
   
  }
  .desktopContentSection2 h1 {
    font-size: 8vw;
 
  }

  .desktopContentSection3 h1 {
    font-size: 8vw;

  }
  .desktopContentSection4 h1 {
    font-size: 8vw;
   
  }
}

@media (max-width: 500px) {
  .serviceheading{
    font-size: 6vw;
    margin-top: 5vw;
  }
  .gallery {
    justify-content: center;
  }
  .right {
    display: none;
  }

.desktopContent {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .desktopContentSection {
    min-height: 55vh;
  }
  .desktopContentSection > * {
    width: 80vw;
    height: 80vw;
  }

  .desktopContentSection1 h1 {
    font-size: 8vw;
   
  }
  .desktopContentSection2 h1 {
    font-size: 8vw;
 
  }

  .desktopContentSection3 h1 {
    font-size: 8vw;

  }
  .desktopContentSection4 h1 {
    font-size: 8vw;
   
  }
}

@media (max-width: 380px) {
  .serviceheading{
    font-size: 5vw;
    margin-top: 5vw;
  }
  .gallery {
    justify-content: center;
    gap: 1rem;
  }
  .right {
    display: none;
  }

.desktopContent {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .desktopContentSection {
    min-height: 50vh;
  }
  .desktopContentSection > * {
    width: 80vw;
    height: 80vw;
  }

  .desktopContentSection1 h1 {
    font-size: 8vw;
   
  }
  .desktopContentSection2 h1 {
    font-size: 8vw;
 
  }

  .desktopContentSection3 h1 {
    font-size: 8vw;

  }
  .desktopContentSection4 h1 {
    font-size: 8vw;
   
  }
}




@media (min-width: 769px) and (max-width: 1024px) {
}
