.about_landing_section {
  width: 100%;
}

.about_landing_animation {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.about_main_year {
  width: 100%;
  background-color: white;
  height: 50vh;
  position: absolute;
  text-align: center;
  overflow: hidden;
}

.about_main_year h1 {
  font-size: 15vw;
}

.about_top_container {
  top: 0%;
}

.about_top_container h1 {
  transform: translateY(27.9vh);
}

.about_bottom_container {
  bottom: 0%;
}

.about_bottom_container h1 {
  transform: translateY(-22vh);
}

.about_content {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.dummy_box {
  width: 100%;
  height: 50vh;
  background-color: black;
}

.about_company_story {
  width: 100%;
  color: rgb(126, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about_company_story p {
  font-size: 1.5vw;
  width: 50%;
  text-align: center;
  line-height: 4vw;
}

.about_image {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_image img {
  width: 30%;
  height: 30vh;
  border-radius: 2vw;
  object-fit: cover;
}

.about_text_para {
  width: 100%;
  text-align: center;
  padding: 2vw 1vw;
}

.about_text_para h5 {
  font-size: 2vw;
}

.about_text_para p {
  font-size: 1.5vw;
}

@media only screen and (max-width: 476px) {
  .about_landing_animation {
    width: 100%;
    height: 200vh;
    background-color: black;
  }

  .about_main_year {
    width: 100%;
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;

  }

  .about_top_container h1 {
    transform: translateY(0);
  }
  .about_main_year h1 {
    font-size: 15vw;
  }

  .about_bottom_container {
    display: none;
  }

  .about_main_year {
    height: 100vh;
  }

  .dummy_box {
    display: none;
  }
  .about_company_story{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100vh;
  }

  .about_company_story p {
    font-size: 1rem;
    width: 90%;
    text-align: center;
    line-height: 2rem;
  }

  .about_text_para {
    padding: 2vw 1vw;
  }

  .about_text_para h5 {
    font-size: 4vw;
  }

  .about_text_para p {
    font-size: 3vw;
  }

  .about_image img {
    width: 80%;
    height: 80%;
  }
}
