.about_start_year {
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.about_div1{
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0%;
  background-color: white;
  overflow: hidden;
}

.about_div2{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_div3{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50vh;
  background-color: white;
  overflow: hidden;

}

.about_year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.about_year h1{
  font-size: 15rem;
  white-space: nowrap;
}

.about_div1 .about_year{
  bottom: 40%;
}

.about_div3 .about_year{
  top: 1% !important;

}


.about_div2 .about_company_story{
  color: white;display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
  width: 40%;
  margin-top: 4rem;
}

.about_company_story p{
  font-size: 1.4rem;
  text-align: center;
  color:rgba(206, 206, 206, 0.616);
}