.about_landing_section {
  width: 100%;
  /* height: 100vh; */
  position: relative;
}

.about_main_year {
  width: 100%;
  height: 50vh;
  position: absolute;
  background-color: white;
  overflow: hidden;
}

.about_top_container {
  top: 0%;
}

.about_bottom_container {
  bottom: 0%;
}

.about_main_year h1 {
  font-size: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.about_top_container h1 {
  bottom: 40%;
}

.about_bottom_container h1 {
  top: 1%;
}

.about_content {
  width: 100%;
  /* height: 100vh; */
  background-color: black;
  overflow: hidden;

}

.about_content .dummy_box {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.about_content .about_company_story {
  color: rgba(182, 180, 180, 0.74);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: blue;
}

.about_company_story p {
  font-size: 1.3rem;
  width: 40%;
  text-align: center;
  line-height: 3rem;
}

.about_text_para {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;
  background-color: red;
}

.about_text_para h5{
  font-size: 2rem;
}

.about_text_para p {
  font-size: 1.2rem;
  color: rgba(182, 180, 180, 0.74);
}


.about_image{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_image img {
  width: 50%;
  height: 50vh;
  object-fit: cover;
  border-radius: 30px;
}

.our_culture{
  background-color: white;
}