.contact_video_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #f472b6, #8b5cf6);
}

.contact_video {
  width: 60%;
  height: 70vh;
}

.contact_video_container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2vw;
}

@media only screen and (max-width: 476px) {
  .contact_video_container {
    width: 100%;
    height: 70vh;
    padding: 1vw;
  }
  .contact_video {
    width: 100%;
    height: 100%;
  }
  .contact_video_container video {
    object-fit: contain;
  }
}
