.Play_reel_section {
  width: 100%;
  height: 100vh;
}

.play_reel_video {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play_reel_video video {
  width: 400px;
  height: 200px;
  border-radius: 2vw;
  object-fit: fill;
}

@media only screen and (max-width: 476px) {
  .play_reel_video video {
   width: 100vw;
  }
}
