.About{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding: 10vw 5vw;
}

.About div h1{
    font-size: var(--font-heading);
    font-weight: var( --font-weight-800);
    line-height: 7rem;
}

.About .paragrph{
    width: 50%;
    text-align: center;
    line-height: 1.6;
}
.About .paragrph p{
    color: var(--clr--gray);
}


.highlight{
    border:2px solid black;
    background:var(--clr--primary-orange);
    color:white;
    padding: .1rem 1.5rem .1rem 1.5rem;
    border-radius: 2rem;
    transform: rotate(-15deg);
}