.hero_icons{
    width: 64px;
    height: 64px;
    border-radius: 20px;
    /* box-shadow: 2px 1px 10px rgba(128, 128, 128, 0.521); */
    background-color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}