nav{
    position: fixed;
    top: 0; left: 0;
    background-color: transparent;
    display: flex;align-items: center;
    justify-content: center;
    padding-top: 2vw;
    z-index: 1000;
    width: 100%;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px;
    width: 200px;
    padding: 0.2rem 1rem;
    box-shadow: -2px 2px 10px rgba(128, 128, 128, 0.356);
}

nav .logo img {
    width: 60px;
    height: 60px;
}

.menu_bar {
    font-size: var(--font-subheading);
    cursor: pointer;
    transition: all 0.5s ease;
}

