.DesptopInitialLandingPage{
  background-color: #f6f9fc;
}
.DesptopInitialLandingPagenavbar{
  padding: 0.1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);

}
.DesptopInitialLandingPagenavbar img{
  width: 50px;
}
.DesptopInitialLandingPagenavbar div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.DesptopInitialLandingPagenavbar ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.DesptopInitialLandingPagenavbar ul li a{
    text-decoration: none;
    color: black;
  font-size: .9rem;
}
.DesptopInitialLandingPagenavbar div button{
  background:none; 
  border: none;
  color: black;
  cursor: pointer;
  font-size: .9rem;
  transition: color 500ms ease;
 
}

.DesptopInitialLandingPagenavbar div button:hover{
  color: orange;
}

.DesptopInitialLandingPagenavbar button:nth-child(3){
  background-color: orange;
  border: none;
  color: white;
  padding: .5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.DesptopInitialLandingPage-additionalbar{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DesptopInitialLandingPage-additionalbar-tool{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* padding: .5rem .5rem; */
  font-size: .91rem;
}

.DesptopInitialLandingPage-additionalbar-tool-container2,.DesptopInitialLandingPage-additionalbar-tool-container1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.DesptopInitialLandingPage-additionalbar-tool-container1{
  border:1px solid rgba(90, 89, 89, 0.356);
  width: 150px;
  padding: .5rem;
}
.DesptopInitialLandingPage-additionalbar-tool-container1 select{
  border: none !important;
}

.DesptopInitialLandingPage-additionalbar-tool-container1 select:focus{
  outline: none !important;
}

.DesptopInitialLandingPage-additionalbar-tool-container2 .desktopicon ,.mobileicon{
  background-color: rgba(255, 166, 0, 0.541);
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem ;
  font-size: 1.1rem;
  cursor: pointer;
}
.mobileicon{
  background: none;
}
.left-right-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid rgba(90, 89, 89, 0.356);
  border-top: none;
  border-bottom: none;
  padding: 0.5rem ;
  font-size: .9rem;
}
.righticon{
    transform: rotateY(180deg);
}
.CircleMinus{
  font-size: .8rem;
  border-right: 1px solid rgba(90, 89, 89, 0.356);
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.tools{
   font-size: .8rem;
  border-right: 1px solid rgba(90, 89, 89, 0.356);
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.Search{
  font-size: 1rem;
  border-right: 1px solid rgba(90, 89, 89, 0.356);
  padding: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search input:focus{
  outline: none;
 border-bottom: 1px solid rgba(90, 89, 89, 0.356);
}

.Search input{
  border: none;
  background: none;
  width: 100px;
  font-size: .8rem;
  margin-left: .2rem;
}


.DesptopInitialLandingPagehero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.DesptopInitialLandingPagehero .canva{
  width: 1000px;
  height: 500px;
  margin-left: 30px;
  border: 1px solid var( --clr--primary-orange);
  border-radius: 20px;
}


.canva-content h2{
  font-size: 1.4rem;
  width: 200px;
}
.canva-content p{
  font-size: .9rem;
  width: 300px;
  text-align: justify;
}

.canva-content button{
  font-size: 1rem;
  width: 100px;
  height: 40px;
  background-color: orange;
  border: none;
  box-shadow: 1px 1px 10px rgba(105, 104, 104, 0.425);
  color: white;
  border-radius: 10px;
}

.canva-content-image img{
  width: 300px;
}


.content-navbar h2{
  font-size: 20px;
}


.DesptopInitialLandingPage-heading {
    margin: 5px 0 0 5px ;
}
.DesptopInitialLandingPage-heading h3{

    font-size: 1.5rem;
}