.container {
  background-color: #fff;
  padding: 4rem 2rem;
  border-radius: 2rem;
  text-align: center;
  max-width: 60rem;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
}

.title {
  font-size: 3rem;
  font-weight: 800;
  color: #000;
}

.subtitle {
  font-size: 1.2rem;
  color: #111;
  max-width: 50rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.ctaButton {
  background-color: var(--clr--primary-orange);
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 476px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .ctaButton {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }

  .container {
    margin: 2rem 1rem;
  }
}
