.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  gap: 4rem;
  min-height: 18rem;
  max-width: 60rem;
  margin-inline: auto;
  margin-block: 5%;
  background-color: rgb(231, 228, 228);
  border-radius: 2vw;
}

.container p {
  font-size: 2.5rem;
}

a{
  text-decoration: none;
}

.CTA{
  color: white;
  background-color: var(--clr--primary-orange);
  width: fit-content;
  padding: 1vw;
  border-radius: 1vw;
  font-size: 1.5vw;
  cursor: pointer;
}




@media only screen and (max-width: 476px) {
  .container {
    margin: 0vw 5vw;
    margin-top: 5vw;
  }
  .container p {
    font-size: 7vw;
  }
  
.CTA{
  padding: 3vw;
  border-radius: 3vw;
  font-size: 4vw;
  font-weight: 100;
  cursor: pointer;
}
}