.mainContainer {
  margin-top: -8%;
}
.imageContainer {
  max-width: 80%;
  min-height: 26rem;
  background-color: white;
  margin-inline: auto;
  transform: translateY(25%);
  z-index: 1;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.imageContainer img {
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  width: 100%;
  height: 100%;
}

.bottomContainer {
  max-width: 100%;
  min-height: 80vh;
  background-color: var(--clr--primary-orange);
  border-top-left-radius: 8rem;
  border-top-right-radius: 8rem;
  padding-top: 10rem;
}

.container {
  display: flex;
  justify-content: space-around;
  /* margin-top: 10rem; */

  /* background-color: red; */
}
.pagesContainer {
  display: flex;
  gap: 4rem;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pages li {
  list-style-type: none;
}
.pages li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
}

.pages li a:hover {
  color: black;
}

.pages li a:active {
  color: black;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact p {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

.contact h3 {
  font-size: 1.25rem;
}

.address h3 {
  font-size: 1.25rem;
}

.address p {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

.email {
  font-size: 1.25rem;
}

.email a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
}

.email a:hover {
  color: black;
}

.email a:active {
  color: black;
}

.socialsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.socialIcon {
  width: 2rem;
  height: 2rem;
}

.logoContainer {
  max-width: 80%;
  min-height: 10rem;
  background-color: white;

  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer img {
  max-width: 100px;
  min-height: 150px;
}
.logoContainer h1 {
  font-size: 8vw;

  /* letter-spacing: 0.25rem; */
}
