.Enquiry_close_btn {
  width: 50%;
  height: 100vh;
}

.Enquiry_close_conatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.close_icon,.close_text{
    background-color: var( --clr--primary-orange);
    color: white;
    width: fit-content;
    padding: 0.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;   
}

.close_icon{
    font-size: 1.4rem;   
    border-radius: 50%;
}


@media only screen and (max-width: 476px) {
    .Enquiry_close_btn {
        width: 100%;
        height: fit-content;
      }
}