.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  position: relative;
  margin-top: 8vw;
}

.hero_content:nth-child(1) {
  padding: 8vw 10vw;
  /* padding-bottom: 1vw; */
}

.hero_heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero_heading h1 {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: 1px;
}

.hero_heading h1:nth-child(1) {
  border: 2px solid black;
  padding: 0 1vw;
  position: relative;
}
.hero_heading h1:nth-child(3) {
  padding: 0 0.6vw;
  background-color: var(--clr--primary-orange);
  color: white;
  clip-path: polygon(4% 0, 100% 0, 96% 99%, 0 100%);
  position: relative;
}

.eyeball {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  left: 48%;
  top: 10%;
}

.eyeball:nth-child(2) {
  left: 63%;
}

.eyeball .ball {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.hero_designbox {
  border: 2px solid black;
  background-color: var(--clr--primary-orange);
  width: 20px;
  height: 20px;
  position: absolute;
}

.hero_designbox:nth-child(1) {
  top: -10px;
  left: -3%;
}
.hero_designbox:nth-child(2) {
  bottom: -10px;
  left: -3%;
}
.hero_designbox:nth-child(3) {
  top: -10px;
  right: -3%;
}
.hero_designbox:nth-child(4) {
  bottom: -10px;
  right: -3%;
}

.hero_designbox:nth-child(5) {
  clip-path: polygon(15% 30%, 100% 0, 71% 76%, 57% 41%);
  width: 100px;
  height: 100px;
  border: none;
  bottom: -50%;
}

.hero_para {
  margin-top: 3vw;
  text-align: center;
}

.hero_para p {
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.hero_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
}

.hero_btn button {
  padding: 1vw;
  font-family: "Trebuchet MS", sans-serif;
  background-color: var(--clr--primary-orange);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 1px 1px 10px var(--clr--primary-orange);
  border: 1px solid var(--clr--primary-orange);
}

.hero_btn button:hover {
  background-color: white;
  color: var(--clr--primary-orange);
}

.hero_heading h1:nth-child(2) {
  text-transform: lowercase;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 6rem;
  opacity: 0.5;
}

@media only screen and (max-width: 476px) {
  .hero {
    height: 80vh;
    align-items: center;
    justify-content: center;

  }
  .hero_heading h1 {
    font-size: 2rem;
  }
  .hero_heading h1:nth-child(2) {
    font-size: 2rem;
  }
  .eyeball {
    display: none;
  }
  .hero_designbox {
    width: 10px;
    height: 10px;
  }
  .hero_designbox:nth-child(1) {
    top: -5px;
    left: -5%;
  }
  .hero_designbox:nth-child(2) {
    bottom: -5px;
    left: -5%;
  }
  .hero_designbox:nth-child(3) {
    top: -5px;
    right: -5%;
  }
  .hero_designbox:nth-child(4) {
    bottom: -5px;
    right: -5%;
  }
  .hero_designbox:nth-child(5) {
    width: 50px;
    height: 50px;
    bottom: -80%;
  }

  .hero_para{
    margin-top: 10vw;
  }
  .hero_para p {
    letter-spacing: 2px;
    font-size: 1rem;
  }
  .hero_btn button {
    padding: 2.4vw;
  }
}





/* .hero_content:nth-child(2) {
  background-color: var(--clr--primary-orange);
  background-image: url("../../assets//logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding: 5vw 0vw;
}

.hero_content .codeeditior {
  width: 85%;
  height: 600px;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.836);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.733);
}

.code_editor_navbar {
  padding: 0.8rem 1rem;
}

.code_editor_display {
  width: 100%;
  height: 100%;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.code_editor_code_area {
  width: 100%;
  height: 80%;
  display: flex;
  gap: 0.5rem;
}

.code_editor_code_area .editor1 {
  border: 1px solid rgba(0, 0, 0, 0.137);
  border-top: none;
  height: 100%;
  width: 60%;
  border-radius: 15px;
  border-top-right-radius: 0px;
}

.code_editor_code_area .editor2 {
  border: 1px solid rgba(0, 0, 0, 0.137);
  border-top: none;
  height: 100%;
  width: calc(100% - 60%);
  border-radius: 15px;
  border-top-right-radius: 0px;
} */
