.Play_reel_section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play_reel_video {
  width: 400px;
  height: 200px;
}

.play_reel_video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media only screen and (max-width: 476px) {
  .Play_reel_section {
    width: 100%;
    height: 60vh;
    margin-top: 5vw;
  }
  .play_reel_video {
    width: 100%;
    height: 100%;
  }
  .play_reel_video video {
    width: 100%;
    height: 100%;
    border-radius: none;
  }
}

@media only screen and (min-width: 476px) {
  .play_reel_video video {
    border-radius: 2vw;
  }
}
