.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-block:8rem;
}

.container {
  min-height: 74vh;
  max-width: 26vw;
  border-radius: 2.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.blue {
  background-color: #a7cbf6;
}

.pink {
  background-color: #ffd0e2;
}
.yellow {
  background-color: #fcea59;
}
.container p {
  padding: 2rem  1rem;
  font-size: 2.2rem;
  line-height: 2.95rem;
  font-weight: 400;
}

.video {
  height: 10rem;
  width: 18rem;
  margin-bottom: 4rem;
}
