.uibutton{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: -2px 2px 10px gray ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uibutton div{
    background-color: #ff3979;
    width: 8px;
    height: 8px;
}

.uicalanders{
    background-color: #ff3979;
    width: 50px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
}

.uicalanders div{
    padding: .2rem;
    text-align: center;
    color:white;
    line-height: 2;
}

.uitogglebtn {
    background-color: white;
    width: 50px; 
    height: 30px; 
    border-radius: 20px; 
    box-shadow: 1px 1px 5px gray; 
    overflow: hidden; 
    padding: .1vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.uitogglebtn .circle {
   background-color: #ff3979;
   width: 14px;
   height: 14px;
   border-radius: 50%;
}

.windownavbar1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    width: 100px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: -2px 2px 10px rgba(128, 128, 128, 0.459);
}

.windownavbar1 img{
    width: 25px;
}

.windownavbar1 .windowmenu{
    padding-right: .5rem;
}
