.toolbar{
    width: 50px;
    height: 500px;
    box-shadow: 2px 0 10px rgba(247, 163, 67, 0.555);
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    background-color: var( --clr--primary-orange)
}

.toolbar div{
    padding: .5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar div:hover{
    background-color: lightblue;
    color: white;
    transform: scale(1.1);
}

.backgroundcolor{
    width: 200px;
    height: 400px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20px;
    background-color:#eaf0f6;
    border-radius: 10px;
    box-shadow: -2px 0px 10px rgba(128, 128, 128, 0.295);
    padding: 1rem;
}

.backgroundcolor h1{

    font-size: 1rem;
}

.backgroundcolor button{

    width: 40px;
    height: 30px;
    border: .5px solid gray;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.canva-content,
.canva-content-image {
  position: absolute;
  cursor: grab;
  user-select: none;
  transition: transform 0.1s ease-in-out;
}

.canva-content:active,
.canva-content-image:active {
  cursor: grabbing;
}

.canva {
  position: relative;
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
}
